.projects {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
        url('../../images/projects.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

.card-text {
    color: black;
}

div.col-md-4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

div.col-sm-6 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
